.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center
    
}

.container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    font-family: URW Chancery L, cursive;
    font-size: 3em;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 500px; /* Reduced the max-width to make the carousel smaller */
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(11, 0, 0, 0.984);
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
}

.carousel img {
    width: 100%; /* Keep the image width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    border-radius: 10px 10px 0 0;
}

.carousel .description {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    text-align: left;
}

.carousel .description h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
    font-family: URW Chancery L, cursive;
}

.carousel .description p {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 10px;
    font-family: URW Chancery L, cursive;
    font-weight: bold;
}

.carousel .description ul {
    list-style-type: disc;
    padding-left: 20px;
    font-family: URW Chancery L, cursive;
}

.carousel .description ul li {
    font-size: 1em;
    color: #666;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    user-select: none;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#carouselContainer {
    margin-top: 40px;
}

.uk-slider-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.uk-slider-items > li {
    flex: 1 0 45%;
    margin: 10px;
}

.uk-slider-nav.uk-dotnav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


/* suggestionf for u section */
.suggestions {
    margin-top: 40px;
    text-align: left;
    
}

.suggestions h2 {
    font-size: 4em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: URW Chancery L, cursive;
    font-weight: bold;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 20px;
    margin-left: 50px;
    justify-content: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-item img:hover {
    transform: scale(1.05);
}